@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    color: #F2E3D8;
    background-color: white;
}

/* Header */

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 15vh;
    background-color: transparent;
    font-size: 1rem;
    gap: 20px;
}

/* img */

.conteiner_img{
    width: 15%;
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #F2E3D8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo{
    width: 100%;
}

/* --img-- */

/* menu */

.menu{
    width: 60%;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
    font-size: 1.1rem;
}

.menu_items{
    text-decoration: none;
    color: #F2E3D8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu_items:hover{
    color: #A67F67;
    transition: color .3s ease;
}

/* --menu-- */

/* search, button and darkmode */

.conteiner_header_fim{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    gap: 10px;
    color: #8D614D;
}

.button_buy{
    color: #584036;
    width: 15vw;
    height: 30px;
    background-color: #9e6d57;
    text-align: center;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.button_buy:hover{
    background-color: #7d5644;
    color: #c39478;
    transition: background-color .5s ease, color .3s ease;
}

.ri-moon-line, .ri-search-line{
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    color: #F2E3D8;
}

.ri-moon-line:hover, .ri-search-line:hover{
    color: #c39478;
    transition: color .5s ease;
}

/* --header-- */

/* Apresentação */

/* cafe2 cafe4 cafe14 cafe15*/

.apresentação{
    background-image: url(imgs/cafe2.jpg);
    background-position: 20% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.conteiner_texto{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100%;
    width: 100%;
    position: relative;
    gap: 50px;
}

.conteiner_texto h1, .conteiner_texto p, .conteiner_texto .button_read_more{
    grid-column: 2;
}

.conteiner_texto h1{
    position: absolute;
    width: 60vw;
    top: 8%;
    transform: translateX(-10vw);
    font-size: 3rem;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.conteiner_texto p{
    width: 280px;
    text-align: justify;
    position: absolute;
    top: 25%;
    transform: translateX(-10vw);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
}

.conteiner_texto .button_read_more{
    background-color: #9e6d57;
    color: #584036;
    width: 30%;
    height: 7%;
    align-content: center;
    text-align: center;
    position: absolute;
    top: 38%;
    transform: translateX(-10vw);
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.conteiner_texto .button_read_more:hover{
    background-color: #6e4c3c;
    color: #c39478;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.conteiner_texto .conteiner_buttons{
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 35px;
}

.button_next{
    position: absolute;
    left: 92%;
    transform: translateY(-300%);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.button_previous{
    transform: translateY(-300%);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.button_next:hover, .button_previous:hover{
    color: #9e6d57;
    transition: color .5s ease;
}

.conteiner_marca_pag{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#circle_bottom, 
#circle_top, 
#circle_middle, 
#circle_middle_bottom{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #845f4f;
    position: absolute;
    top: 65%;
}


#circle_bottom{
    left: 60%;
}


#circle_middle_bottom{
    left: 53%;
}


#circle_middle{
    left: 46%; /* 46 */
}


#circle_top{
    left: 39%;
}

.circle.active {
    background-color: #845f4f;
}

/* --apresentação-- */

/* Quem somos */

.sobre{
    background-color: white;
    height: 1900px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    margin-top: 20px;
    margin-bottom: 50px;
    gap: 20px;
}

.sobre .conteiner_text_sobre{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    position: relative;
}

.sobre .conteiner_text_sobre h1, .conteiner_text_sobre p, .conteiner_text_sobre h2{
    grid-area: texto;
    padding-left: 15px;
    color: #584036;
}

.sobre .conteiner_text_sobre h1{
    font-size: 1rem;
    transform: translateY(70%);
}

.sobre .conteiner_text_sobre h2{
    font-size: 2.2rem;
    color: #002250;
}

.sobre .conteiner_text_sobre p{
    width: 73vw;
    text-align: justify;
}

.sobre .imagens{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    gap: 50px;
}

#img1, #img2, #img3{
    width: 400px;
    height: 520px;
    border-radius: 15px;
    background-size: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.sobre .imagens #img1{
    background-image: url(imgs/cafe1.jpg);
}

.sobre .imagens #img2{
    background-image: url(imgs/cafe3.jpg);
}

.sobre .imagens #img3{
    background-image: url(imgs/cafe5.jpg);
}

#img1:hover, #img2:hover, #img3:hover{
    transform: translateX(20px);
    transition: transform .7s ease;
}

/* --Sobre-- */

/* Our products */

.our_products{
    background-color: #f2f2f2;
    color: #584036;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    padding: 20px 0px;
    gap: 20px;
}

.our_products h1{
    font-size: .8rem;
    color: #8D614D;
}

.our_products h2{
    font-size: 1.8rem;
    color: #002250;
    padding-bottom: 20px;
}

.our_products .conteiner_our_products{
    width: 400px;
    height: 520px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

.img_products{
    background-color: #002250;
    height: 60%;
    width: 100%;
}

#p1, #p2, #p3{
    background-size: cover;
    background-position: center;
}

#p1{
    background-image: url(imgs/Cafe-grao.jpg);
}

#p2{
    background-image: url(imgs/header3.jpg);
}

#p3{
    background-image: url(imgs/header5.jpg);
}

.conteiner_our_products h1{
    font-size: 1.7rem; 
    padding: 10px;
}

.conteiner_our_products p{
    font-size: 1.2rem;
    text-align: justify;
    padding: 10px;
}

/* --Our Procucts-- */

/* Informações */

.conteiner_more_informations{
    width: 100%;
    height: 100%;
    background-color: white;
    color: #584036;
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 20px;
}

.conteiner_txt_informations{
    align-self: center;
}

.conteiner_txt_informations h1{
    padding: 20px 10px;
    text-align: center;
}

.conteiner_txt_informations p{
    padding: 10px;
    width: 80%;
}

.conteiner_more_informations .conteiner_txt_informations p{
    text-align: justify;
}

.conteiner_more_informations .button_read_more{
    grid-area: button;
    background-color: #9e6d57;
    color: #584036;
    width: 50vw;
    height: 50px;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    align-self: center;
    transform: translateY(-30%);
}

.conteiner_more_informations .button_read_more:hover{
    background-color: #6e4c3c;
    color: #c39478;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.more1, .more2, .more3, .more4{
    width: 70vw;
    height: 180px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 15px;
    text-align: justify;
    align-self: center;
    transform: translateY(-5%);
}

.more1:hover, .more2:hover, .more3:hover, .more4:hover{
    transform: translate(15px, -5%);
    transition: transform .7s ease;
}

.more1 h1, .more2 h1, .more3 h1, .more4 h1{
    text-align: center;
    padding-bottom: 5px;
}

.more1 h2, .more2 h2, .more3 h2, .more4 h2{
    text-align: center;
    padding-bottom: 10px;
} 

/* --more informations-- */

/* Gallery */

 .gallery{
    background-color: #f6f6f6;
    padding: 20px;
}

.conteiner_gallery_img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 20px;
}

.gallery h1{
    color: #584036;
    font-size: .8rem;
    text-align: center;
}

.gallery h2{
    text-align: center;
    font-size: 2rem;
    color: #002250;
    padding-bottom: 15px;
}

.img_gallery{
    background-color: #002250;
    width: 400px;
    height: 520px;
    border-radius: 15px;
}

#g1, #g2, #g3, #g4, #g5, #g6, #g7, #g8{
    background-position: center;
    background-size: cover;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#g1:hover, #g2:hover, #g3:hover, #g4:hover, #g5:hover, #g6:hover, #g7:hover, #g8:hover{
    transform: translateX(10px);
    transition: transform .4s ease;
}

#g1{
    background-image: url(imgs/cafe7.jpg);
}

#g2{
    background-image: url(imgs/cafe1.jpg);
}
#g3{
    background-image: url(imgs/cafe6.jpg);
}

#g4{
    background-image: url(imgs/cafe8.jpg);
}

#g5{
    background-image: url(imgs/cafe9.jpg);
}

#g6{
    background-image: url(imgs/cafe10.jpg);
}
#g7{
    background-image: url(imgs/cafe11.jpg);
}
#g8{
    background-image: url(imgs/cafe12.jpg);
}

/* --Gallery-- */

/* Feedback */

