@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    color: #F2E3D8;
}

/* Header */

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 15vh;
    background-color: transparent;
    font-size: 1rem;
    gap: 20px;
}

/* img */

.conteiner_img{
    width: 15%;
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #F2E3D8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo{
    width: 100%;
}

/* --img-- */

/* menu */

.menu{
    width: 60%;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
    font-size: 1.1rem;
}

.menu_items{
    text-decoration: none;
    color: #F2E3D8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu_items:hover{
    color: #A67F67;
    transition: color .3s ease;
}

/* --menu-- */

/* search, button and darkmode */

.conteiner_header_fim{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    gap: 10px;
    color: #8D614D;
}

.button_buy{
    color: #584036;
    width: 15vw;
    height: 30px;
    background-color: #9e6d57;
    text-align: center;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.button_buy:hover{
    background-color: #7d5644;
    color: #c39478;
    transition: background-color .5s ease, color .3s ease;
}

.ri-moon-line, .ri-search-line{
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    color: #F2E3D8;
}

.ri-moon-line:hover, .ri-search-line:hover{
    color: #c39478;
    transition: color .5s ease;
}

/* --header-- */

/* Apresentação */

/* cafe2 cafe4 cafe14 cafe15*/

.apresentação{
    background-image: url(imgs/cafe2.jpg);
    background-position: 20% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.conteiner_texto{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100%;
    width: 100%;
    position: relative;
    gap: 50px;
}

.conteiner_texto h1, .conteiner_texto p, .conteiner_texto .button_read_more{
    grid-column: 2;
}

.conteiner_texto h1{
    position: absolute;
    width: 60vw;
    top: 8%;
    transform: translateX(-10vw);
    font-size: 3rem;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.conteiner_texto p{
    width: 280px;
    text-align: justify;
    position: absolute;
    top: 25%;
    transform: translateX(-10vw);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
}

.conteiner_texto .button_read_more{
    background-color: #9e6d57;
    color: #584036;
    width: 30%;
    height: 7%;
    align-content: center;
    text-align: center;
    position: absolute;
    top: 38%;
    transform: translateX(-10vw);
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.conteiner_texto .button_read_more:hover{
    background-color: #6e4c3c;
    color: #c39478;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.conteiner_texto .conteiner_buttons{
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 35px;
}

.button_next{
    position: absolute;
    left: 92%;
    transform: translateY(-300%);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.button_previous{
    transform: translateY(-300%);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.button_next:hover, .button_previous:hover{
    color: #9e6d57;
    transition: color .5s ease;
}

.conteiner_marca_pag{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#circle_bottom, 
#circle_top, 
#circle_middle, 
#circle_middle_bottom{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #845f4f;
    position: absolute;
    top: 65%;
}


#circle_bottom{
    left: 60%;
}


#circle_middle_bottom{
    left: 53%;
}


#circle_middle{
    left: 46%; /* 46 */
}


#circle_top{
    left: 39%;
}

.circle.active {
    background-color: #845f4f;
}

/* --apresentação-- */