@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    color: #F2E3D8;
    background-color: white;
    overflow-y: auto;
    width: 100%;
    transition: all .5s ease;
}

body::-webkit-scrollbar{
    width: 0;
    height: 0;
} 

/* Header */

header{
    background-image: url(imgs/cafe17-pequeno.jpg);
    background-size: cover;
    background-position: center 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 15vh;
    background-color: transparent;
    font-size: 1rem;
}

/* img */

.conteiner_logo_pag3{
    width: 15%;
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #F2E3D8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.conteiner_logo_pag3 img{
    width: 100%;
}

/* --img-- */

/* menu */

.menu_pag3{
    width: 87vw;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
    font-size: 1.1rem;
}

.menu_items_pag3{
    text-decoration: none;
    color: #F2E3D8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu_items_pag3:hover{
    color: #A67F67;
    transition: color .3s ease;
}

#atual{
    color: #A67F67;
}

/* --menu-- */

.centralizacao_txt_header_pag3{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    transform: translate(0%, -5%);
}

.contiener_text_pag3_header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #584036;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* search, button and darkmode */

.conteiner_search_button_dark_header_pag3{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    gap: 10px;
    color: #8D614D;
}

.conteiner_search_button_dark_header_pag3 .button_buy{
    color: #2e211c;
    width: 15vw;
    height: 30px;
    background-color: #9e6d57;
    text-align: center;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.conteiner_search_button_dark_header_pag3 .button_buy:hover{
    background-color: #513b32;
    color: #c39478;
    transition: background-color .5s ease, color .3s ease;
}


.conteiner_search_button_dark_header_pag3 .ri-moon-line, .conteiner_search_button_dark_header_pag3 .ri-search-line{
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    color: #F2E3D8;
    cursor: pointer;
}

.ri-moon-line:hover, .ri-search-line:hover{
    color: #c39478;
    transition: color .5s ease;
}

/* --header-- */

.button_the_top{
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    background-color: #c39478;
    color: white;
    border: none; 
    border-radius: 50%; 
    width: 50px;
    height: 50px;
    text-align: center; 
    line-height: 50px; 
    font-size: 18px; 
    cursor: pointer; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    display: none;
    z-index: 1000;
}

.button_the_top.show{
    display: block;
}

.button_the_top:hover{
    background-color: #845f4f;
    color: #c39478;
    transition: all .5s ease;
}
