@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    color: #F2E3D8;
    background-color: white;
    overflow-y: auto;
    width: 100%;
    transition: all .5s ease;
}

body::-webkit-scrollbar{
    width: 0;
    height: 0;
} 

/* Header */

header{
    background-image: url(imgs/cafe17-pequeno.jpg);
    background-size: cover;
    background-position: center 60%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 15vh;
    background-color: transparent;
    font-size: 1rem;
    gap: 20px;
}

/* img */

.conteiner_logo_pag2{
    width: 15%;
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #F2E3D8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.conteiner_logo_pag2 img{
    width: 100%;
}

/* --img-- */

/* menu */

.menu_pag2{
    width: 87vw;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
    font-size: 1.1rem;
}

.menu_items_pag2{
    text-decoration: none;
    color: #F2E3D8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu_items_pag2:hover{
    color: #A67F67;
    transition: color .3s ease;
}

#atual{
    color: #A67F67;
}

/* --menu-- */

.centralizacao_txt_header{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    transform: translate(0%, -5%);
}

.contiener_text_pag2_header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #584036;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* search, button and darkmode */

.conteiner_search_button_dark_header_pag2{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    gap: 10px;
    color: #8D614D;
}

.conteiner_search_button_dark_header_pag2 .button_buy{
    color: #2e211c;
    width: 15vw;
    height: 30px;
    background-color: #9e6d57;
    text-align: center;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.conteiner_search_button_dark_header_pag2 .button_buy:hover{
    background-color: #513b32;
    color: #c39478;
    transition: background-color .5s ease, color .3s ease;
}


.conteiner_search_button_dark_header_pag2 .ri-moon-line, .conteiner_search_button_dark_header_pag2 .ri-search-line{
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    color: #F2E3D8;
    cursor: pointer;
}

.ri-moon-line:hover, .ri-search-line:hover{
    color: #c39478;
    transition: color .5s ease;
}

/* --header-- */

/* about */

.about_pag2{
    width: 100%;
    height: 100%;
    background-color: white;
    color: #2e211c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 20px;
}

.about_pag2 .conteiner_texto_about_pag2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 10px;
}

.about_pag2 .conteiner_texto_about_pag2 h1{
    font-size: .9rem;
}

.about_pag2 .conteiner_texto_about_pag2 h2{
    font-size: 1.8rem;
    color: #002250;
}

.about_pag2 .conteiner_texto_about_pag2 p{
    text-align: justify;
    width: 80vw;
}

.imagem_coffee_about_pag2{
    width: 70%;
    height: 150px;
    background-image: url(imgs/cafe16-pequeno.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.about_pag2 .conteiner_about_pag2_button_learn_more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 40px;
    background-color: #9e6d57;
    border-radius: 15px;
    color: #2e211c;
}

.about_pag2 .conteiner_about_pag2_button_learn_more:hover{
    background-color: #513b32;
    color: #c39478;
    transition: all .5s ease;
}

/* --about-- */

/* about2 */

.about2_pag2{
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 20px;
}

.conteiner_about2_pag2{
    background-color: white;
    color: #2e211c;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.conteiner_about2_pag2 .img_about2_pag2{
    width: 100%;
    height: 25vh;
    background-image: url(imgs/cafe18-pequeno.jpg);
    background-size: cover;
}

.conteiner_about2_pag2 h1{
    color: #002250;
    font-size: 1.3rem;
    padding: 0px 20px 0px 20px;
    
}

.conteiner_about2_pag2 p{
    padding: 0px 20px 20px 20px;    
}

/* -about2-- */

/* about3 */

.about3_pag2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    color: #2e211c;
    gap: 30px;
    padding: 30px;
}

.about3_pag2 .more_informations_pag2_about3{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 10px;
}



.about3_pag2 .more_informations_pag2_about3 h1{
    align-self: center;
    font-size: 2rem;
}

.about3_pag2 .more_informations_pag2_about3 h2{
    color: #002250;
    font-size: 1.6rem;
}

.about3_pag2 .more_informations_pag2_about3 p{
    text-align: justify;
}

/* --about3-- */

/* about4 */

.about4_pag2{
    width: 100%;
    height: 100%;
    background-image: url(imgs/cafe30-pq.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 20px;
    gap: 20px;
}

.about4_pag2 .text_about4_pag2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 20px;
}

.about4_pag2 .text_about4_pag2 h1{
    font-size: .9rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #8D614D;
}

.about4_pag2 .text_about4_pag2 h2{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #2e211c;
}

.about4_pag2 .text_about4_pag2 p{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    color: #f2f2f2;
}

.about4_pag2 .button_find_about4_pag2{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 50vw;
    height: 40px;
    background-color: #9e6d57;
    border-radius: 15px;
    color: #2e211c;
}

.about4_pag2 .button_find_about4_pag2:hover{
    background-color: #513b32;
    color: #c39478;
    transition: all .5s ease;   
}

/* --about4-- */

/* group members */

.group_about_pag2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    color: #2e211c;
    padding: 20px;
    gap: 20px;
}

.group_about_pag2 .tittle_group_about_pag2{
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.group_about_pag2 .tittle_group_about_pag2 h1{
    font-size: .9rem;
    text-align: center;
}

.group_about_pag2 .tittle_group_about_pag2 h2{
    font-size: 1.7rem;
    color: #002250;
}

.group_about_pag2 .conteiner_members{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 20px;
}

.group_about_pag2 .conteiner_member1,
.group_about_pag2 .conteiner_member2,
.group_about_pag2 .conteiner_member3,
.group_about_pag2 .conteiner_member4{
    
    width: 80vw;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

}

.group_about_pag2 .conteiner_member1 .picture_member1,
.group_about_pag2 .conteiner_member2 .picture_member2,
.group_about_pag2 .conteiner_member3 .picture_member3,
.group_about_pag2 .conteiner_member4 .picture_member4{
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.group_about_pag2 .conteiner_member1 .picture_member1{
    background-image: url(imgs/member1-pq.jpg);
}

.group_about_pag2 .conteiner_member2 .picture_member2{
    background-image: url(imgs/member2-pq.jpg);
}

.group_about_pag2 .conteiner_member3 .picture_member3{
    background-image: url(imgs/member4-pq.jpg);
}

.group_about_pag2 .conteiner_member4 .picture_member4{
    background-image: url(imgs/member3-pq.jpg);
}

.group_about_pag2 .conteiner_member1 h1,
.group_about_pag2 .conteiner_member2 h1,
.group_about_pag2 .conteiner_member3 h1,
.group_about_pag2 .conteiner_member4 h1{
    padding: 10px;
    font-size: 1.7rem;
}

.group_about_pag2 .conteiner_member1 h2,
.group_about_pag2 .conteiner_member2 h2,
.group_about_pag2 .conteiner_member3 h2,
.group_about_pag2 .conteiner_member4 h2{
    padding: 10px 10px 20px 10px;
    font-size: 1rem;
    color: #8D614D;
}

/* --members-- */

/* footer */

footer{
    width: 100%;
    height: 100%;
    color: white;
    background-color: #372922;
    display: flex;
    justify-content: flex-start;
}

footer .informations_footer{
    width: 80vw;
    padding: 15px 15px;
    text-align: justify;
    display: flex;
    flex-flow: column;
    gap: 5px;
}

footer img{
    width: 50px;
    height: 50px;
    display: inline;
    transform: translateY(1vh);
}

#logo_p{
    font-size: 1.6rem;
}

footer .address_footer{
    width: 80vw;
    padding: 15px 15px;
    text-align: justify;
    display: flex;
    flex-flow: column;
    gap: 5px;
}

footer .msg_footer{
    width: 90vw;
    text-align: justify;
    display: flex;
    flex-flow: column;
    padding: 10px 15px;
    gap: 10px;
}

#emaii{
    width: 70vw;
    height: 6vh;
    border: none;
    border-radius: 15px 0px 0px 15px;
    background-color: #584036;
    padding: 10px;
}

#emaii::placeholder{
    color: #e3ac8c;
}

#emaii:focus{
    background-color: #845f4f;
    transition: background-color .5s ease;
}

#button_send{
    width: 10vw;
    height: 6vh;
    border: none;
    background-color: #c39478;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
}

#button_send .ri-send-plane-fill{
    color: #584036;
}

#button_send:hover{
    background-color: #A67F67;
    transition: background-color .5s ease;
}

.copy_footer{
    width: 100vw;
    height: 70px;
    font-size: .9rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #231a16;
}